.RP_Style {
  background: #EDF7FA;
  margin-top: 71px;
  padding: 7px 0 32px ;
  &__head {
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    color: black;
    h3 {
      font-family: Heebo sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: 0;
      text-align: left;
    }
    a {
      font-family: Heebo sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: right;
      color: #00A8CC;
    }
  }
  &__body {
    display: flex;
    width: 100%;
    max-width: 860px;
    gap: 20px;
    margin: 0 auto;
  }
}


.Post {
  background: #FFFFFF;
  color: black;
  width: 100%;
  max-width: 860px;
  padding: 23px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 11px;

  th {
    font-family: Heebo sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0;
    text-align: left;

  }
  tr {
    font-family: Heebo sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    display: flex;
    gap: 26px;
  }
  caption {
    text-align: left;
    font-family: Heebo sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }
}


@media only screen and (max-width: 480px) {
  .RP_Style {

    &__head {
      text-align: center;
      display: flex;
      justify-content: center;
      a {
        display: none;
      }
    }
    &__body {
      flex-direction: column;
      margin: 11px;
      width: auto;
    }
  }
}