.Footer {
  height: 182px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  gap: 26px;
  margin-top: 83px;
}
.social {
  display: flex;
  gap: 35px;
}