
html,
body {

  margin: 0 auto;
  overflow-x: hidden;

}

body {
  color: #000;
  background: #fff;
}

a, input{
  color: #000;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
